<div class="container">
  <h1>Películas</h1>
  
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sinopsis</th>
        <th>Director</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.synopsis %></td>
          <td><%= movie.director %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'Nueva Película', new_movie_path, class: 'btn btn-primary' %>
</div>
